<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - ShirtDogShop</title>
  <link rel="stylesheet" href="/style/mainstyling.css">
  <link rel="stylesheet" href="/style/registerpage.css">
  <link rel="stylesheet" href="/style/loginform.css">
  <script src="/build/loginform.js"></script>
  <script src="/build/register.js"></script>
  <script src="/build/login.js"></script>
  <script src="/build/logged_in_nav.js"></script>
</head>

<body>
  <header>
    <nav>
      <section class="uppermenu" id="nav-bar">
        <h1>ShirtDogShop</h1>
        <a href="./index.html">STORE</a>
        <input type="text" placeholder="What would you like to 3D print today?">
        <a href="./signup.html" id="join-nav">JOIN</a>
        <button type="button" onclick="
        openForm()" id="login-nav">LOGIN</button>
      </section>
    </nav>
  </header>
  <section class="registersection" id="register-section">
    <h2 id="registerpagetitle">Join the Community!</h1>
      <h2>Register for free</h2>
      <form class="registerform" id="registerform">
        <label for="email">E-mail</label>
        <input type="email" id="email-registration" name="email" placeholder="E-mail*">
        <section id="email-validation-msg">You have entered an invalid email address!</section>
        <label for="name">Name</label>
        <input type="text" id="name-registration" name="user" placeholder="Name*">
        <label for="password">Password</label>
        <input type="password" id="password-registration" name="password" placeholder="Password*" onkeyup="checkPasswordInput()">
        <section id="password-validation-msg">Passwords must be at least 6 characters in length, with at least 1 numeric and 1 special character</section>
        <label for="password-check">Password</label>
        <input type="password" id="password-check" name="password-check" placeholder="Enter Password Again*" onkeyup="checkPasswordsMatch()">
        <button type="button" id="registerbtn" onclick="registrationProcess()">Sign up</button>
      </form>
  </section>

  <section class="popuploginsection" id="login-form">
    <h2>Login to ShirtDogShop</h2>
    <form class="loginformcontainer">
      <button type="button" class="cancelbtn" onclick="closeForm()"><img
          src="/style/images/close-button-png-30231 (1).png" width="20px" height="20px"></button>
      <input type="text" placeholder="Enter your e-mail" name="email" id="email-attempt">
      <input type="password" placeholder="Enter password" name="password" id="password-attempt">
      <button type="button" class="loginbtn" onclick="loginProcess()">LOGIN</button>
    </form>
    <section class="joinnowsection">
      <h2>Don't have an account? <a href="./signup.html">JOIN
          NOW</a></h2>
    </section>
  </section>

  <footer>
    <nav class="navfooter">
      <h2>ShirtdogShop</h2>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">How it works</a></li>
      </ul>
    </nav>
  </footer>
</body>

</html>