

.registersection {
  flex: 1 0 auto;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.registerform {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.registerform input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: rgb(189, 189, 189) 1px solid;
  width: 50%;
}

.registerform button {
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 15px;
  width: 50%;
  background-color: rgba(47, 196, 158, 1);
}

.registersection form button:hover {
  cursor: pointer;
}

#msg-section {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 15em;
  height: 2em;
  font-size: 15px;
  padding: 15px 5px 15px 5px;
  font-weight: bold;
  align-items: center;
}

#email-validation-msg {
  display: none;
  padding: 5px;
  color: red;
  font-weight: bold;
}

#password-validation-msg {
  display: block;
  padding: 5px;
  color: red;
  font-weight: bold;
}

#password-doublecheck-msg {
  display: block;
  padding: 5px;
  color: red;
  font-weight: bold;
}